body {
  font: 16px Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}


.title{
  text-align: center;
}

.hidden{
  display: None;
}

a {
  color: #c00;
}
/*#country{*/
  /*max-width: 15%;*/
/*}*/

form{
  padding: 10px 25px;
}
#savedLocs{
  position: absolute;
  left: 75%;
}