body {
  font: 16px Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}


.title{
  text-align: center;
}

.hidden{
  display: None;
}

a {
  color: #c00;
}
/*#country{*/
  /*max-width: 15%;*/
/*}*/

form{
  padding: 10px 25px;
}
.locs{
  position: absolute;
  left: 75%;
}
#saved_locs{
  list-style: none;
}


#weather{
  margin: 3em 36em;
  list-style: none;
  font-size: large;
}